@use  '../mixin.scss' as *;

.container{
    width: 1112px;
    max-width: 100%;
    margin: 0 auto;
}

.main{
    display: flex;
    height: 900px;
    max-width: 100%;
    margin: 0 auto;

    @include mobile{
        height: 100%;
    }
}

.content{
    margin-top: calc(var(--header-height) + 10px);
}

.pagination-page{
    width: 370px;
    margin: 16px auto;
}

.MuiPagination-root {
    div {
        color: #fff !important;
    }

    button {
      color: #fff !important;
   }

   .Mui-selected{
        background-color: var(--primary) !important;
   }
}