:root{
    --primary: #f84a85;
    --header-height: 48px;
    --image-with: 188px;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    color: #fff;
    scroll-behavior: smooth;
    background-color: #1a1a1a;
}
