.video{
    width: 224px;
    margin-right: 12px;
    margin-bottom: 6px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    .video-image, img{
        width: 224px;
        position: relative;
        height: 140px;
    }

    .video-play-icon{
        font-size: 42px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .interact{
        position: absolute;
        bottom: 4px;
        right: 6px;

        .interact-icon {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .video-name{
        margin-top: 6px;
    }

    .rating-info{
        // margin-top: 8px;
        display: flex;

        // Begin Rating star
        .ratings {
            position: relative;
            vertical-align: middle;
            display: inline-block;
            color: #b1b1b1;
            overflow: hidden;
        }
        .full-stars {
            position: absolute;
            left: 0;
            top: 0;
            white-space: nowrap;
            overflow: hidden;
            color: var(--primary);
        }
        .empty-stars:before, .full-stars:before {
            content:"\2605\2605\2605\2605\2605";
            font-size: 12pt;
        }
        .empty-stars:before {
            -webkit-text-stroke: 1px #848484;
        }
        .full-stars:before {
            -webkit-text-stroke: 1px var(--primary);
        }
        // End Rating star

        .rating-number{
            margin-left: 16px;
            font-size: 16px;
            align-self: flex-end;
        }
    }
}