.header{
    display: flex;
    align-items: center;

    width: 1112px;
    height: var(--header-height);
    padding: 4px 12px;
    margin: 0 auto;
    background-color: #1a1a1a;
    border-bottom: 1px solid #111;

    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.logo{
    width: 220px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    line-height: var(--header-height);
}

.header_content{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .search{
        position: relative;
        width: 400px;
        max-width: 100%;
        height: 34px;
        background-color: #313131;
        border-radius: 50px;
        
        .search_input{
            width: 70%;
            height: 100%;
            margin-left: 32px;
            font-size: 16px;
            color: #fff;
            outline: none;
            border: none;
            background-color: inherit;
        }
        
        .search_icon{
            position: absolute;
            top: 10px;
            left: 10px;
            color: #ddd;
        }

        .search_btn{
            position: absolute;
            top: 4px;
            right: 4px;

            padding: 6px 8px;
            color: #fff;
            font-size: 12px;
            border-radius: 50px;
            background-color: #26282a;
            cursor: pointer;

            &:hover{
                opacity: .8;
            }
        }
    }

    .settings{
        color: #ddd;
        padding: 0 8px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;

        .setting_icon{
            margin: 0 8px;
            cursor: pointer;

            &:hover{
                opacity: .8;
            }
        }
    }

    .user{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ddd;
        cursor: pointer;

        .avatar{
            display: block;
            width: 18px;
            height: 18px;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid;
        }

        .name{
            margin: 0 6px;
        }
    }
}