@use  '../../mixin.scss' as *;

.film-container{
    display: flex;
    width: 1112px;
    max-width: 100%;
    min-height: 500px;
    margin: 0 auto;
    flex-wrap: wrap;

    
    &::-webkit-scrollbar
    {
        display: none;
    }
    overflow-y: scroll;

    @include mobile{
        overflow-y: unset;
    }
}